<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="webel-logo.png" alt="Webel" width="100px"
    /></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-2 pt-2">
        <span class="fw-bold text-capitalize font-italic text-secondary">
          <%- user.name %></span
        >
      </li>
      <% if(user.role.toLowerCase() === 'staff') { %>
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-info" href="/issues/new">New Problem</a>
      </li>
      <% } %>
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-secondary" href="/users/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<% include ./partials/messages %>

<h4 class="mt-2">
  <% if(user.role.toLowerCase() !== "staff") { %> All<% } %> Problems<%
  if(user.role.toLowerCase() === "staff") { %> reported by you<% } %>
</h4>
<hr
  style="
    width: 100%;
    height: 2px;
    background-color: #9e9e9e;
    padding: 0;
    margin: 5px;
  "
/>
<% if(issues.length === 0 || typeof issues === 'undefined') { %>
<p>No problems present in system</p>
<% } else { %> <% issues.forEach(issue => { %>
<div class="card w-100 bg-dark mt-2">
  <div class="card-body">
    <h5 class="card-title font-weight-bold"><%- issue.title %></h5>
    <p class="card-text"><%- issue.description %></p>
    <div
      class="card-text d-flex flex-column flex-lg-row justify-content-lg-around align-items-center"
    >
      <% if(user.role !== "staff") { %>
      <p style="text-transform: capitalize">
        <i class="fas fa-user-edit"></i>&nbsp; <%-
        issue.reportedBy?issue.reportedBy:" "%> >
      </p>
      <% } %>
      <p style="text-transform: capitalize">
        <i class="fas fa-map-marker-alt"></i>&nbsp;<span class="text-fade"
          ><%- issue.location %></span
        >
      </p>
      <% if(issue.reportedOn) { %>
      <p>
        Reported On:
        <span class="text-light">&nbsp;<%- issue.reportedOn %> </span>
      </p>
      <% } %>
      <p>
        <span> Assigned:</span>&nbsp; <% if(!issue.assigned){%>
        <i class="fas fa-times-circle"></i>
        <% } else { %>
        <i class="fas fa-check-circle"></i>
        <% }%>
      </p>
      <% if(issue.assigned) { %>
      <p>
        <span
          >Assigned To:
          <span class="text-light text-capitalize bg-dark"
            ><%- issue.assignedTo === user.name ? "You" : issue.assignedTo
            %></span
          >
        </span>
      </p>
      <% } %> <% if(user.role.toLowerCase() !== 'staff' && !issue.assigned) { %>
      <a href="/issues/<%-issue._id%>" class="btn btn-primary">Assign myself</a>
      <% } %>
    </div>
  </div>
</div>
<% }); %> <% } %>
